# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/
.cursor/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Archivos de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de configuración del usuario
.gitconfig
.micromamba/
